<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="86dd9094-396f-4cd6-b128-9dfbf7c5808d"
            Publisher="CN=Artyom"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c6a1aa4b-49d7-434d-97e8-6b580dd982ad"
                    PhonePublisherId="f8a65bf6-8733-4c94-8ee1-48b5b6de3ecf"/>

  <Properties>
    <DisplayName>LockScreenTest</DisplayName>
    <PublisherDisplayName>-WOLF-</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="AGHost.exe"
                 EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="LockScreenTest"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="LockScreenTest"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>

      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>

    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Facet_Lockscreen_Bridge.dll</Path>
        <ActivatableClass ActivatableClassId="Facet_Lockscreen_Bridge.LockScreenSnapshot" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Facet_Lockscreen_Bridge.Badge" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Facet_Lockscreen_Bridge.DetailedText" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

</Package>